# Android Studio / IntelliJ
*.iml
.gradle
.gradle/
local.properties
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.DS_Store

# Build folders
build/
/build
**/build/
*.aab
*.apk
output-metadata.json

# Captures
/captures
captures/

# External Native Build
.externalNativeBuild
.externalNativeBuild/
.cxx
.cxx/

# Log/OS Files
*.log

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
